{% extends "base.html" %}
{% block title_content %}
Delete Classroom |
{% endblock title_content %}

{% block content %}
<form method = "POST" >
{% csrf_token %}
<h2> Are you sure you want to delete this Classroom </h2>
<strong> {{Classroom.classname|title}} - </strong> 
 by <strong> {{Classroom.class_incharge}} </strong> 
<br/>
<button class="btn btn-large btn-theme margintop10" type="submit"  >Yes, Delete</button>
<a href = "{% url 'classroom-detail' classroom.classname %}"  >cancel</a>
</form>


{% endblock content %}