{% extends "base.html" %}

{% block content %}
  <h1> Add  </h1>
  <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <p>
      <label for="id_classname"> Class name:</label> 
      <input type="text" name="classname"  maxlength="50" required id="id_classname" >
    </p>
    <p>
      <label for="id_subject_name"> subject_name:</label> 
      <input type="text" name="subject_name"  maxlength="50" required id="id_subject_name" >
    </p>
    <p>
      <label for="id_day">day:</label> 
      <input type="text" name="day" maxlength="50" required id="id_day">
    </p>
    <p>
      <label for="id_start_at"> start_at:</label>
      <input type="time" name="start_at"  maxlength="50" required id="id_start_at" >
    </p>
    <p>
      <label for="id_ends_at"> ends_at:</label>
      <input type="time" name="ends_at"  maxlength="50" required id="id_ends_at" >
    </p>
  
    <button class="btn btn-large btn-theme margintop10" type="submit"  >Add in timetable</button>
  </form>
{% endblock content %}
